{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre-produit">
        {{ produit.nom }}
    </h1>
    <img class="img-produit" src="{{produit.photo}}" alt="{{produit.nom}}">
    <h3 class="description-produit">{{produit.description}}</h3>
    <p class="prix-produit">{{produit.prix}}€</p>
{% endblock %}